* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fafafa;
  display: flex;
}

.container-form {
  border: 1px solid black;
  width: 50%;
}

form {
  margin: auto;
  width: 50%;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-control {
  background-clip: padding-box;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out;
  width: 100%;
}

.form-number {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 10px;
  width: 30%;
}

.form-check {
  margin-bottom: 0.125rem;
  min-height: 1.5rem;
  padding-left: 1.5em;
}

.form-check-input {
  float: left;
  margin-left: -1.5em;
  margin-top: 3px;
}

.btn {
  background-color: #003be5;
  border: 1px solid #0a53be;
  border-radius: 2px;
  color: white;
  padding: 8px 32px;
}

.btn:hover {
  background-color: #0a53be;
  cursor: pointer;
}

button:disabled {
  background-color: #0039e519;
  border: 1px solid #0a52be3c;
}

button:hover:disabled {
  background-color: #0039e519;
  border: 1px solid #0a52be3c;
  cursor: auto;
}
