* {
  margin: 0;
  padding: 0;
}

main {
  background-color: #fafafa;
}

.container {
  display: flex;
  height: 856px;
}

.container h1, .container-card h1, .container-filter h1 {
  padding-bottom: 50px;
  text-align: center;
}

.container-form {
  background-color: #fafafa;
  padding-top: 50px;
  width: 50%;
}

.container-preview {
  background-color: #023031;
  color: white;
  padding-top: 40px;
  width: 50%;
}

form {
  margin: auto;
  width: 50%;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-control {
  background-clip: padding-box;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  width: 100%;
}

.form-select {
  background-color: white;
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  width: 100%;
}

.form-check {
  margin-bottom: 0.125rem;
  min-height: 1.5rem;
  padding-left: 1.5em;
}

.form-check-input {
  float: left;
  margin-left: -1.5em;
  margin-top: 3px;
}

.btn {
  background-color: #003be5;
  border: 1px solid #0a53be;
  border-radius: 2px;
  color: white;
  padding: 8px 32px;
}

.btn:hover {
  background-color: #0a53be;
  cursor: pointer;
}

button:disabled {
  background-color: #0039e519;
  border: 1px solid #0a52be3c;
}

button:hover:disabled {
  background-color: #0039e519;
  border: 1px solid #0a52be3c;
  cursor: auto;
}

.container-card {
  background-color: #036b52;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  color: white;
  height: 559px;
  margin: auto;
  width: 368px;
}

.name-card {
  background: #023031;
  border-radius: 10px 10px 0 0;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  width: 317px;
}

.img-card {
  background-color: #0230318d;
  height: 230px;
  margin: auto;
  text-align: center;
  width: 317px;
}

.img-card img {
  height: 225px;
  margin-top: 4px;
  width: 225px;
}

.description-card {
  font-family: sans-serif;
  font-style: normal;
  height: 70px;
  margin: 5px auto;
  overflow: hidden;
  width: 317px;
}

.cards {
  background-color: white;
  border-radius: 0 0 10px 10px;
  color: black;
  margin: auto;
  padding-top: 5px;
  width: 317px;
}

.card-atributes {
  background-color: #f0f2f5;
  border-radius: 10px;
  display: flex;
  font-weight: 600;
  height: 30.74px;
  margin: auto;
  margin-top: 5px;
  width: 265px;
}

.card-atributes p {
  margin: auto;
}

.attr {
  background-color: #023031;
  border-radius: 0 10px 10px 0;
  color: white;
  height: 30.74px;
  margin: auto;
  text-align: center;
  width: 48px;
}

.attr p {
  font-size: 18px;
  padding-top: 5px;
}

.rare-card p, h3 {
  padding: 5px;
  text-align: center;
}

.container-filter {
  margin: auto;
  width: 480px;
}

.list-save {
  align-content: stretch;
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
}

.list-save li {
  list-style-type: none;
  margin: 10px auto;
  padding-left: 0;
}

.ma {
  background-color: white;
  border: 2px solid #003be5;
  color: #003be5;
  margin: 20px auto;
  width: 100%;
}

.form-number {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 10px;
  transition: border-color 0.15s ease-in-out;
  width: 30%;
}
