* {
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conteudo, ul {
  display: flex;
}

form, .divPrev {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.divForm, .divPrev, li {
  border: 1px solid black;
}
